.idea
*.iml
*.pem
*.yaml
.glide
src/python
target/

# temp files
*.test
*.out
.DS_Store
/vendor
/python
/testout

# android
/pkg/test/app/android/.gradle/
/pkg/test/app/android/app/build
/pkg/test/app/android/app/libs
/pkg/test/app/android/app/app.iml
google-services.json